@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.container{
    display: flex;
    width: 100px;
    margin-left: 15%;
    padding-top:5%;
}

.container-mae{
    background-color: #fff;
    width: 40vw;
    height: 60vh;
    margin-left: 50%;
    margin-top: -33%;
    border-radius: 40px;
    box-shadow: 0px 0px 10px #d1dec7be;
}

.block1{
    margin-right: 110px;
    margin-left: 0px;
    
}

.telefone{
    display: flex;
    align-items: center;
    position: absolute;
    top: 67.8%;
}

.ddd{
    width: 50px;
    position: absolute;
    top: 100%;
    text-align: center;
}

.tele{
    width: 170px;
    position: absolute;
    top: 100%;
    left: 49%
}

.cel{
    margin-left: 20px;
}

.lbCEP{
 background-color: #edffd7;
}

.titulo > img{
    width: 35vw;
    height: 20vh;
    margin-top: 2%;
    
}

p{
    background-color: #fff;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    right: 74%;
}
body{
    background-color: #E7F2C6;
}

img{
    margin-left: 100px;
   
}

p{
    margin-left: 19%;
    font-family: "Roboto Slab";
    font-size: 20px;
}

h2{
    font-family: "Noto Sans";
    margin-left: 40%;
    padding-top: 1%;
    font-size: 35px;
    color: #054802;
}

input{
   margin-bottom: 8px;
   font-size: 17px;
   padding: 6px;
   font-family: "Roboto Slab";
   border-radius: 15px;
   border: 1px solid #a4bc996c;
}

label{
    font-size: 18px;
    font-family: "Noto Sans";
}

button{
    margin-left: 20%;
    padding: 8px 200px;
    border-radius: 10px;
    border: 1px solid #054802;
    font-family: "Roboto Slab";
    font-weight: bold;
    background-color: #fff;
    color: #054802;
}

button:hover{
    background-color: #48793c;
    color: #fff;
    cursor: pointer;
}