@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Noto Sans";
}

div{
    background-color: rgb(255, 255, 255);
    font-size: 7px;
    display: flex;
    border: 2px solid #DAC3AB;
    border-radius: 6px;
    box-shadow: 0px 0px 4px  rgb(207, 205, 203);
    margin: 8px;
    color: rgb(75, 68, 68);
    width: 50%;
    margin-left: 30%;
}

input {
    margin-left: 10px;
    
} 

/* div:hover{
    -ms-transform: scale(1);
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
    transition: 0s;
    border: 1px solid rgb(219, 62, 88);

} */

.usuario, .titulo{
    margin: 5px;
}






body {
    background-color: #f7f2f2;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    /* minmax(300px, 1fr)*/
    grid-gap: 30px;
    padding: 20px;
    justify-items: center;
    justify-content: center;
    align-items: start;
  }
  .box {
    padding: 2em;
  }
  .item {
    margin-bottom: 2em;
  }
  
  /* checkbox-rect */
  .checkbox-rect input[type="checkbox"] {
    display: none;
  }
  .checkbox-rect input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
   
  }
  .checkbox-rect input[type="checkbox"]:hover + label:hover {
    color: rgb(23, 86, 228);
  }
  .checkbox-rect input[type="checkbox"]:hover + label:before {
    background: #50565a;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
  }
  .checkbox-rect input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
  }
  .checkbox-rect input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
  }
  .checkbox-rect input[type="checkbox"]:checked + label:before {
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #50565a;
    box-shadow: 0 0 0 1px #000;
  }