@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Noto Sans";
}

body{
    background-color: #E7F2C6;
}

/* ALUNOS */
.container{
    width: 15vw;
    height: 28vh;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.39);
    border-radius: 20px;
    text-align: center;
    margin: 15px;
    padding: 15px 15px;
    background-color: #fff;
    color: #000;
}

.container:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    /* border-radius: 50%; */
    box-shadow: 0px 0px 10px  rgba(5, 72, 2, 0.5);
}

.container_mae{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.titulo{
    margin-top: 1%;
    display: flex;
    align-items: center;
    margin-left: 40%;
    background-color: #fff;
    padding: 0px 15px;
    width: 20vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.39);
}
.abacate{
    width: 5vw;
    height: 5vw;
    margin-left: 15%;
    
}

.alunos{
    margin-left: 15%;
    font-size: 25px;
}

p{
    margin-top: 5px;
    font-size: 15px;
}

img{
    width: 4vw;
    height: 4vw;
}

/* APARELHOS E EXERCICIOS*/

.container2, .container4{
    width: 20vw;
    text-align: center;
    margin: 0px 20px;
    background-color: #fff;
    color: #000;
    display: flex;
    padding: 4px 10px;
    border-radius: 3px;
    border: 1px solid #d6ec92;
}

.container_mae2, .container_mae3, .container_mae4{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid #000;
    width: 23vw;
    padding: 10px 8px;
    background-color: #fff;
}

.container2:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    /* border-radius: 50%; */
}

.aparelhoID, .exercicioID{
    margin-right: 30px;
    margin-left: 10px;
}

.titulo2, .titulo3{
    margin-top: 1%;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    padding: 0px 15px;
    width: 20vw;
}
.peso, .ex{
    width: 3vw;
    height: 3vw;
    margin-left: 10%;
    
}

.equipamentos, .exercicios{
    margin-left: 10%;
    font-size: 25px;
}

.container_mae3{
    position: absolute;
    top: 45%;
    left: 30%;
}


.container_mae4{
    position: absolute;
    top: 45%;
    left: 60%;
    width: 27vw;
}

.container4{
    width: 24vw;
}

.container4:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    /* border-radius: 50%; */
}


