body{
    background-color: #aa4fa7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin-top: 30vh;
    display: flex;
    flex-direction: row;
}

.container1,
.container2, 
.container3,
.container4{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    background-color:  #771f75;
    border-radius: 20px;
}

textarea{
    margin-top: 10px;
}

button{
    margin-top: 4px;
    background-color: #dd80d8 ;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

input{
    padding: 5px;
}
