@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto+Slab & display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Noto Sans";
}

.frete{
    margin-left: 50vh;
}

.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50vh;
}
.item-menu{
    background-color: #fff;
    width: 19vw;
    height: 50vh;
    text-align: center;
    margin-top: 5vh;
    margin-left: 10px;
    box-shadow: 0px 0px 10px  rgb(245, 210, 186);
    border-radius: 20px;
}

.modelo{
    visibility: hidden;
    display:none;
}

.menu{
    display: flex;
    flex-wrap: wrap;
}

.item-menu > #img-item{
    height: 35vh;
    width: 35vh;
    margin: 10px;
    border-radius: 20px;
}
.item-menu > #img-item:hover{
-ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    border-radius: 20px;
}
#btSelecionar{
    padding: 5px 15px;
    margin-top: -10px;
    font-size: 15px;
    border: 2px solid #DAC3AB;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
}

#btSelecionar:hover{
    border: 1px solid #fff;
    background-color: #ae5543;
    color: #fff;
    cursor: pointer;

}

#nome-descricao{
    font-family: "Roboto Slab";
    margin-top:-10px;
    margin-bottom:20px;
    font-size: 20px;
    color: rgb(75, 68, 68);
}

#preco-total, #parcela{
    margin-top:-20px;
  }
                        

/* CARROSSEL */

.d-block{
    width: 200vh;
    height: 500px;
    margin-left: 12px;;
}


/* MENU DE FILTROS */


.filtros{
    background-color: #fff;
    margin-top: 5vh;
    width: 19vw;
    height: 50vh;
    font-weight: bold;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.39);
    border-radius: 20px;
    margin-left: 15px;
}

.cores, .tamanho, .preco, .genero{
    margin-left: 10px;
    margin-top: 40px;
}

.tamanho > input{
    margin-left: 10px;
    margin-right: 2px;;
    font-size: 12px;
}

.cores > button{
    border-radius: 100%;
    border: none;
    margin-left: 10px;
    padding: 12px;
}

.genero > button{
    border: 1px solid #ae5543;
    margin-left: 12px;
    padding: 8px 15px;
    border-radius: 10px;
}

.genero > button:hover{
    background-color:#ae5543;
    color: #fff;
}

#rosa{
    background-color: pink;
}
#rosa:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    border: 1px solid rgb(219, 62, 88);

}

#azul:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    border: 1px solid #083462;
}

#azul{
    background-color: #3678BD;
}

#preto:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    border: 1px solid rgb(37, 36, 37);
}

#preto{
    background-color: rgb(0, 0, 0);
}

#vermelho:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    border: 1px solid #8a0608;
}

#vermelho{
    background-color: #D22426;
}

#laranja:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    border: 1px solid #cc4510;
}

#laranja{
    background-color: #FD7E4C;
}

#marrom:hover{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0s;
    border: 1px solid #702c0f;
}
#marrom{
    background-color: #A75430;
}


/* <button id="rosa"></button>
<button id="azul"></button>
<button id="preto"></button>
<button id="vermelho"></button>
<button id="marrom"></button>
<button id="laranja"></button> */

/* .color1 { #5e1f28 };
.color2 { #8a2f2e };
.color3 { #ae5543 };
.color4 { #f7bb75 };
.color5 { #83764c }; */
